{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!--ListView-->
    <b>Olá, {{ user.username }}.</b>
    Seja bem vindo(a) a sua conta da Accountify!
    {% for account in account %}
   
  
  <ol>

    {% include 'profile/bank.html' %}

  </ol>
  {% endfor %}
    </form>
</body>
</html>



