

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--profileslug view-->
Nome de Usuário:{{user.username}}<br>
ultimo login: {{user.last_login}}<br>
O usuário está online:{{user.is_active}}<br>
Membro Desde:{{user.date_joined}}<br>
{{bank.acctype}}
{{userr.acctype}}
{{username.acctype}}
{{bank.balance}}
{{userr.balance}}
{{username.balance}}
{{bank.acctype}}
{{user.acctype}}
{{username.acctype}}
{{userr3.is_active}}
{{userr3.acctype}}
{{userr3.acctype}}
{{userr3.balance}}
{{userr3.balance}}
{{userr2.balance}}
{{userr3.acctype}}
{{userr3.id}}

{{username.acctype}}
</body>
</html>








<!--O modelo User do Django tem vários campos e métodos disponíveis para uso. Aqui estão alguns exemplos de campos e métodos que você pode usar no modelo User:

first_name: o primeiro nome do usuário.
last_name: o sobrenome do usuário.
email: o endereço de e-mail do usuário.
password: a senha do usuário, armazenada com criptografia.
is_staff: um campo booleano que indica se o usuário tem permissão para acessar o painel de administração.
is_active: um campo booleano que indica se o usuário está ativo.
is_superuser: um campo booleano que indica se o usuário tem todas as permissões.
last_login: a última vez que o usuário fez login.
date_joined: a data em que o usuário se registrou.-->


