{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    {{slug.title}}<br>
    {{slug.price}}<br>
    {{slug.cat}}<br>
    {{slug.add_date}}<br>
    {% if user.is_authenticated %} <!-- #um path pra duas views, post e commentview -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1> Olá, {{ user.username }} escreva um comentário:</h1>
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Save</button>
    {% else %}
        <b>Você precisa estar logado para comentar.</b>
    {% endif %}
        </form>  <!-- # fim um path pra duas views, post e commentview -->









</body>
</html>